$container-bg-width: 500px;
.container {
  @include pxRem(padding-left, $grid-gutter);
  @include pxRem(padding-right, $grid-gutter);
  @extend %clr;
  margin: 0 auto;
  max-width: $container-width;
}
.page-main {
  min-height: calc(100vh - #{f-pxRem(135)});
  background: map-get($color, white);
}

@include respond-above("medium") {
  .layout-bg-blue {
    background: white;
    > .container {
      background: map-get($color, white);
      width: 100%;
    }
  }
  .page-main {
    width: map-get($breakpoints, medium);
    min-height: 100%;
  }
}
